doctype html

html
  head
    link(rel='stylesheet', href='./css/app.css')
    script(src='./js/app.js', charset='UTF-8')

  body

    div

      ul.nav.nav-tabs
        li.active
          a(href='#bookmarks' data-toggle='tab')
            i.glyphicon.glyphicon-th-list
            span bookmarks
        li
          a(href='#posts' data-toggle='tab')
            i.glyphicon.glyphicon-list
            span posts
        li
          a(href='#reports' data-toggle='tab')
            i.glyphicon.glyphicon-list-alt
            span reports

      .tab-content

        #bookmarks.tab-pane.fade.active.in

          .bookmark-actions.text-center
            .bookmark-search.form-search.search-only.js-bookmark-search
              i.search-icon.glyphicon.glyphicon-search
              input(type='text' class='form-control search-query')

            button.btn.btn-info.js-add-bookmark
              i.glyphicon.glyphicon-pencil
              span Add

          ul.subako-list.nopadding
            li.js-bookmark-open
              button(type='button' class='close' data-dismiss='alert' aria-hidden='true') ×
              span.link-title 給与 仕様
              span.link-url https://mf.esa.io/posts?hoge=fuga&piyo=hoge


            li.js-bookmark-open
              button(type='button' class='close' data-dismiss='alert' aria-hidden='true') ×
              span.link-title チーム紹介一覧
              span.link-url https://mf.esa.io/posts?hoge=fuga&piyo=hoge

        #posts.tab-pane.fade
          | posts

        #reports.tab-pane.fade
          | reports
